

@media screen and (max-width:320px)
    {
        .logo {
            display: none;
        }
    
        .logo1 {
            display: block;
            width: 60px;
            height: 45px;
            flex-shrink: 0;
            margin-right: 700px;
            margin-top: -5px;
            margin-left: 5px ;
        }
        .login_barra, .sign-up_barra, .ESP_barra, .ENG_barra{
            display: none;
        }


    }


@media screen and (max-width:320px)  {
    .Real_Estate_section::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('./img/fondo_principal.png');
        background-size: cover;
        background-position: center;
        z-index: -1; 
    }
    .redes_sociales_vertical{
        display: none;

    }
    .icono_busqueda{
        left: 35px;
        width: 80%;
        top: 130px;
    }
    .Real_Estate_container-text{
        right: 70px;
        bottom: 40px;
    }
    
    .lineas_horizontales{
        padding-top: 70px;

    }  

    }
    /* FIN IMAGEN PRINCIPAL */

    /* INICIO CONTENEDORES VIEW ALL PROPERTIES */

    @media screen and (min-width: 1000px) {
        .texto_1{
            display: block; 
        }
        .texto_2{
            display: none; 
        }
        .worldwide_buttons{
            display: block;
        }
        .boton_view0{
            display: none; 
        }
        .galeria_imagenes0{
            display: none;
        }
        .galeria_imagenes2{
            display: block ;
        }
    }
    @media screen and (max-width: 320px) {
        .texto_1{
            display: none;
        }
        .texto_2{
            display: block;
        }
        .naranja{
            width: 25px;
            height: 20px;
        }
        .worldwide_buttons{
            display: none;
        }
        .boton_view0{
            display: block; 
        }

        .boton_view0{
            color:#DF991B; ;
            font: sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight:200;
            background-color: transparent;
            padding: 1px 20px;
            border-radius: 30px;
            border: none;
            display: flex;
            align-items:center;
            height: 40px;
            white-space: nowrap;
            margin-top: 10px;
            
         }
        
         .boton_view0:hover{
            cursor: pointer;
        }
        
        .boton_view0:hover {
            background-color: black;
            color:white;
            border: 1px solid #464547;
            
        }
        .galeria_imagenes0{
            display: block;
        }
        .galeria_imagenes2{
            display: none ;
        }
        .galeria_imagenes0{
            margin-left: 70px;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: 5 px;
            overflow-x: hidden;
            margin-left: 20px ;
            margin-top: 10px;
        }
        
        .foto2{
            height: 250px;
            width: 220px;
        }
        .foto3{
            height: 250px;
            width: 220px;
        }
        .galeria_imagenes0 .imagen_2 {
           grid-column: span 5; 
           width: 60%;
           height: 80%;
           
       }
        .galeria_imagenes0 .imagen_3 {
            grid-column: span 4;
            width: 60%;
            height: 80%;
        }
       
        .galeria_imagenes0 .england{
            color:white;
            font-family:'Times New Roman', Times, serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            margin-left:35px ;
            margin-top: -50px
        }
       
        .galeria_imagenes0 .imagen_2:hover p,
       .galeria_imagenes0 .imagen_3:hover p{
           cursor: pointer;
       }

    }

    @media screen and (max-width: 320px) {
       
        
        .contenedor_worldwide_texto_botones1{
            padding-left: 90px;
            width: 450px;
            margin-left: -160px;
            margin-top: -70px;
        }
        .flecha_n{
            width: 25px;
            height: 30px;
        }
        .texto_1{
            letter-spacing: 0.5px;
        }

        .boton_view11{
            color:#DF991B; ;
            font: sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight:200;
            background-color: transparent;
            padding: 1px 20px;
            border-radius: 30px;
            border: none;
            display: flex;
            align-items:center;
            height: 40px;
            white-space: nowrap;
            margin-top: 5px;
            
         }
        
         .boton_view11:hover{
            cursor: pointer;
        }
        
        .boton_view11:hover {
            background-color: black;
            color:white;
            border: 1px solid #464547;
            
        }

        .worldwide_contenedor_text1 .titulo_adorno1{
            font-family:'Times New Roman', Times, serif;
            color:  #DF991B;
            font-size: 20px;
            font-style:normal;
            font-weight: 350;
            line-height: 45px; 
        
         } 
         .worldwide_contenedor_text1 h2{
            font-family:'Times New Roman', Times, serif;
            font-size: 30px;
            font-style:bold;
            line-height: 45px; 
         }

        
    }
        


    /*

    @media screen and (min-width: 1000px){

     .texto_1, .flecha_n, .worldwide_buttons11, .worldwide_buttons1{
            display: none;
     }
     
    }
    @media screen and (max-width: 1000px) {
        .texto_1, .flecha_n, .worldwide_buttons11, .worldwide_buttons1{
            display: block;
        }
    }




    @media screen and (max-width:320px) {

}
*/
